body {
    background-color:burlywood;
    text-align: center;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: "Goudy Old Style", serif ;
    font-size: 20px;
    text-align: center;
}

#submit {
    background-color: #e7cba7;
    margin: 10px;
    border-radius: 8px;
    border: none;
    width: 80px;
    height: 30px;
    color: grey;
;
}

#galaxy {
    background-color: #e7cba7;
    border-radius: 8px;
    border: none;
    width: 80px;
    height: 30px;
    color: grey;
;
}


#title {
    text-align: center;
}
